.container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
}

.centered-content {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 1, 0.1);
    border: 1px solid #ddd;
    max-width: 1000px;
    width: 100%;
}


@media (max-width: 768px) {
    .container {
        padding: 10px; 
    }
}

